<div class="edit">
<h1>Edit an item in your shopping list</h1>
<%= form_for @shop do |f| %>

  <%= label_tag(:title, "Item:") %>
  <%= f.text_field :title%></br>

  <%= label_tag(:description, "Description:") %> 
  <%= f.text_area :description %></br>

  <%= label_tag(:quantity, "Quantity:") %> 
  <%= f.text_area :quantity %></br>

  <%= f.submit "Update", :class => "btn btn-info" %>
<% end %>

<br />

<%= link_to "Back To Shopping List", shops_path, :class => "btn btn-success" %>
</div>